<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EE014539B85284ADE1DD01C4DA9952D9D1FAEAF0</string>
				<key>dateExpires</key>
				<string>7/26/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE014539B85284ADE1DD01C4DA9952D9D1FAEAF0</string>
						<key>dateExpires</key>
						<string>7/26/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M7A7RJL78X</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE014539B85284ADE1DD01C4DA9952D9D1FAEAF0</string>
						<key>dateExpires</key>
						<string>7/26/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorSplashScreen.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M7A7RJL78X</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE014539B85284ADE1DD01C4DA9952D9D1FAEAF0</string>
						<key>dateExpires</key>
						<string>7/26/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorStatusBar.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M7A7RJL78X</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE014539B85284ADE1DD01C4DA9952D9D1FAEAF0</string>
						<key>dateExpires</key>
						<string>7/26/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M7A7RJL78X</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>M7A7RJL78X.com.bestrongagain.footsteps</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>M7A7RJL78X</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6ef9c316-f122-45dd-bea0-ef94320168ed</string>
				<key>dateExpires</key>
				<string>7/26/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.bestrongagain.footsteps</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>M7A7RJL78X</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.1</string>
		</dict>
	</array>
</dict>
</plist>
